body {
    font-family: Arial, sans-serif;
    margin: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
    background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #333;
}

/* Professional Experience Section */
section.experience-section {
    border-style: inset;
    border-width: 3px;
    border-color: darkorchid;
    border-radius: 8px;
    background-color: #C5C5C5;
    margin: 20px 0;
    padding: 15px;
    -moz-box-shadow: -5px -5px #ffffff;
    -webkit-box-shadow: -5px -5px #bdbdbd;
    box-shadow: -5px -5px darkorchid;
}


/* Education Section */
section.education-section {
    border-style: inset;
    border-width: 3px;
    border-color: darkorchid;
    border-radius: 8px;
    background-color: #C5C5C5;
    margin: 20px 0;
    padding: 15px;
    -moz-box-shadow: -5px -5px #ffffff;
    -webkit-box-shadow: -5px -5px #bdbdbd;
    box-shadow: -5px -5px darkorchid;
}

/* Projects Links */
section.projects-section {
    border-style: inset;
    border-width: 3px;
    border-color: darkorchid;
    border-radius: 8px;
    background-color: #C5C5C5;
    padding: 15px;
    -moz-box-shadow: -5px -5px #ffffff;
    -webkit-box-shadow: -5px -5px #bdbdbd;
    box-shadow: -5px -5px darkorchid;
}

a.projects-list:link {
    color: darkorchid;
    text-decoration: none;
}

a.projects-list:visited {
    color: rgb(21, 96, 0);
}

a.projects-list:hover {
    color: rgb(231, 160, 255);
    text-decoration: underline;
}

ul.list-style {
    display: flex;
    flex-direction: column;
    padding-left: 20px; /* Add some left padding for better alignment */
    gap: 8px; /* Add space between list items */    
    list-style-type: none; /* Use disc bullets */
}





/* Skills Section */
section.skills-section {
    border-style: inset;
    border-width: 3px;
    border-color: darkorchid;
    border-radius: 8px;
    background-color: #C5C5C5;
    margin: 20px 0;
    padding: 15px;
    -moz-box-shadow: -5px -5px #ffffff;
    -webkit-box-shadow: -5px -5px #bdbdbd;
    box-shadow: -5px -5px darkorchid;  
}

#readMoreBtn {
    background-color: darkorchid;
    color: white;
    border: none;
    margin: 20px 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

table.skills-table {
    width: 100%;
    border-collapse: collapse;
}

table.skills-table th,
table.skills-table td {
    padding: 12px 15px;
    text-align: left;
}

table.skills-table th {
    background-color: #6CF2AE;
    color: white;
}
table.skills-table tr:nth-child(even) {
    background-color: #f2f2f2;
}